@media (max-width:1000px) {
    .container {
        width: 100%;
    }
}

@media (min-width:1001px) {
    .container {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
}

.pagination a {
    text-decoration: none;
    color: black;
    border-radius: 25%;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 800;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background-color: #4e629c
}

body {
    width: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.w-10 {
    width: 10%;
    background-color: rgb(0, 0, 0);
}

.header {
    background-color: navy;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.btn {
    font-size: 24px;
    padding: 8px;
    border-radius: 4px;
}


.btn:hover {
    border-radius: 15px;
    transition-duration: 1s;
    opacity: .8;
}

.btn-black {
    background-color: black;
    color: white;
}

.controls {
    display: flex;
    justify-content: space-around;
}

ul {
    padding-inline-start: 0;
    margin-top: 0;
}

ul li,
.col {
    background-color: #4e629c;
}

ul li:nth-child(2n-1),
.col:nth-child(2n-1) {
    background-color: #6c87d8;
}

.listelement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}

.column {
    margin: 0px 30px;
}

.btn-red {
    background-color: darkred;
    color: white;
}

.btn-yellow {
    background-color: darkorange;
    color: white;
}

.btn-green {
    background-color: darkgreen;
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    width: 80%;
    margin: auto;
}
.col {
    padding: 10px 0 0 10px;
    font-size: 20px;
}
input,.col button{
    border:0;
    width:50%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 25px;
}
.col button{
    margin: 0 auto 10px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}